<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7567f1">  <td>20/08/22 21:44:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Flight.LaunchBrowser()[pri:0, instance:MakeMyTrip.Flight@48503868]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/08/22 21:44:16</td>   <td>7776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flight.Onewaytrip()[pri:1, instance:MakeMyTrip.Flight@48503868]">Onewaytrip</td> 
  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/08/22 21:44:19</td>   <td>11464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flight.FlightDetails()[pri:2, instance:MakeMyTrip.Flight@48503868]">FlightDetails</td> 
  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/08/22 21:45:50</td>   <td>101627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flight.Guidelines()[pri:3, instance:MakeMyTrip.Flight@48503868]">Guidelines</td> 
  <td>main@2011986105</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/08/22 21:46:05</td>   <td>116714</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Flight.CloseBrowser()[pri:0, instance:MakeMyTrip.Flight@48503868]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011986105</td>   <td></td> </tr>
</table>
