<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7567f1">  <td>20/08/12 00:39:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Flight.CloseBrowser()[pri:0, instance:MakeMyTrip.Flight@10bbd20a]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/08/12 00:40:22</td>   <td>53390</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Hotel.CloseBrowser()[pri:0, instance:MakeMyTrip.Hotel@48503868]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/08/12 00:40:47</td>   <td>78117</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VillasApts.CloseBrowser()[pri:0, instance:MakeMyTrip.VillasApts@6895a785]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/08/12 00:39:25</td>   <td>-3570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flight.FlightDetails()[pri:2, instance:MakeMyTrip.Flight@10bbd20a]">FlightDetails</td> 
  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/08/12 00:40:57</td>   <td>88678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Holiday.Holidays()[pri:0, instance:MakeMyTrip.Holiday@184f6be2]">Holidays</td> 
  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/08/12 00:38:41</td>   <td>-47680</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Flight.LaunchBrowser()[pri:0, instance:MakeMyTrip.Flight@10bbd20a]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/08/12 00:39:36</td>   <td>7311</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Hotel.LaunchBrowser()[pri:0, instance:MakeMyTrip.Hotel@48503868]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/08/12 00:40:47</td>   <td>78118</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Holiday.LaunchBrowser()[pri:0, instance:MakeMyTrip.Holiday@184f6be2]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/08/12 00:40:22</td>   <td>53770</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VillasApts.Launchbrowser()[pri:0, instance:MakeMyTrip.VillasApts@6895a785]">&gt;&gt;Launchbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>20/08/12 00:38:53</td>   <td>-35281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Flight.Onewaytrip()[pri:1, instance:MakeMyTrip.Flight@10bbd20a]">Onewaytrip</td> 
  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="b9f472">  <td>20/08/12 00:39:49</td>   <td>20167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Hotel.SearchHotel()[pri:0, instance:MakeMyTrip.Hotel@48503868]">SearchHotel</td> 
  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/08/12 00:41:21</td>   <td>112624</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Holiday.close()[pri:0, instance:MakeMyTrip.Holiday@184f6be2]">&lt;&lt;close</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1990451863</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>20/08/12 00:40:33</td>   <td>63955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VillasApts.villas()[pri:0, instance:MakeMyTrip.VillasApts@6895a785]">villas</td> 
  <td>main@1990451863</td>   <td></td> </tr>
</table>
